networks:
  app:
    external: true

services:
  grafana:
    container_name: grafana
    image: grafana/grafana-oss
    restart: unless-stopped
    networks:
      - app
    ports:
      - "3000:3000"
    volumes:
      - ./config/grafana-datasources.yml:/etc/grafana/provisioning/datasources/datasources.yaml
      - grafana_data:/var/lib/grafana

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.139.0
    command: ["--config=/etc/otel-collector.yaml"]
    networks:
      - app
    volumes:
      - ./config/otel-collector.yaml:/etc/otel-collector.yaml
    ports:
      - 4317:4317

  prometheus:
    image: prom/prometheus:latest
    networks:
      - app
    ports:
      - "9090:9090"
    volumes:
      - ./config/prometheus-config.yaml:/etc/prometheus/prometheus.yml

  tempo:
    image: grafana/tempo:latest
    command: -config.file=/etc/tempo.yaml
    networks:
      - app
    volumes:
      - ./config/tempo.yml:/etc/tempo.yaml
      - ./tempo_data:/tmp/tempo
    ports:
      - "3200"

volumes:
  grafana_data: {}
