receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317

  prometheus:
    config:
      scrape_configs:
        - job_name: opentelemetry-collector
          scrape_interval: 10s
          static_configs:
            - targets:
                - 0.0.0.0:8888
processors:
extensions:
  health_check: {}
exporters:
  otlp:
    endpoint: tempo:4317
    tls:
      insecure: true

  # Option A: Prometheus to scrape metrics from Otel
  # prometheus:
  #   endpoint: 0.0.0.0:9090
  #   namespace: testapp

  # Option B: Otel to send metrics  to Prometheus
  prometheusremotewrite:
    endpoint: "http://prometheus:9090/api/v1/write"
    tls:
      insecure: true
      insecure_skip_verify: true
  debug:

service:
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: []
      exporters: [otlp, debug]

    metrics:
      receivers: [otlp]
      processors: []
      exporters: [prometheusremotewrite, debug]
